# Binaries
**/bin/
bin-int/
Intermediates/

# Pinecone files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
scripts/__pycache__ 
/Vulkan.sln
/Vulkan/Vulkan.vcxproj.filters
/Vulkan/Vulkan.vcxproj
